* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid red;
    padding: 100px;
}

.left {
    border: 1px solid green;
    padding: 50px;
    margin: 10px;
}

.right {
    border: 1px solid blue;
    padding: 50px;
    margin: 10px;
}